*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(203, 241, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container{
    width: 100%;
    max-width: 900px;
}
.profile-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(202, 37, 37);
    overflow: hidden;
    align-items: stretch;
}

.left-section{
    flex: 1;
    width: 35%;
    background: linear-gradient(135deg,rgb(35, 178, 152),rgb(182, 123, 61),rgb(103, 187, 181));
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    width: 140px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;

}
.role{
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 5px;
}

h3{
    margin-top: 20px;
}

.social-media{
    display: inline-block;
    color: rgb(32, 140, 176);
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
}

.right-section{
    flex: 2;
    padding: 20px;
    background: rgb(19, 145, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin-bottom: 10px;
}

.skill{
    margin-bottom: 15px;
}
.progress{
    height: 8px;
    width: 100%;
    background: rgb(9, 9, 9);
    border-radius: 5px;
    overflow: hidden;
}
.progress div{
    height: 100%;
    background: rgb(243, 240, 240);

}
ul{
    padding-left: 20px;
}
li{
    margin-bottom: 5px;
}
@media(max-widtth: 768px) {
    .profile-box {
           flex-direction: column;
    }
    .left-section, .right-section{
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
}

